$text-color: #2b3d57;
$secondary-text-color: #677996;
$highlight-text-color: #0096ff;

$title-color: #00172e;

$content-width: 850px;
$content-breakpoint-width: 880px;

$white-background: #ffffff;
$light-background: #f2f3f4;
$dark-background: #00172e;

*, 
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: $white-background;

    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;

    color: $text-color;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

a {
    color: $highlight-text-color;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    color: $title-color;
    font-weight: 600;
}

img, iframe {
    vertical-align: bottom;
}

strong {
    font-weight: 600;
}

.row {
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;

    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.hljs {
    padding: 0px;
}

.text-center {
    text-align: center;
}

header {
    min-height: 75px;

    .logo {
        position: relative;
        display: inline-block;
        padding: 13px 0px 13px 88px;
        text-transform: uppercase;
        text-decoration: none;

        .name {
            display: none;
            color: $text-color;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
        }

        &:before {
            position: absolute;
            background: $highlight-text-color;
            top: 0px;
            left: 0px;
            padding: 15px;
            content: 'r';
            font-family: "Monoton", cursive;
            color: #fff;
            font-size: 46px;
            line-height: 44px;
            border-bottom-right-radius: 4px;
        }
    }

    .nav {
        position: relative;
        float: right;
        margin: 20px 30px 0px 0px;

        & > button {
            background: none;
            border: none;
            outline: none;
            font-size: 20px;
            line-height: 24px;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 600;
        }

        svg {
            vertical-align: -9px;

            rect {
                fill: $text-color;
            }
        }

        .dropdown {
            position: absolute;
            background: #fff;
            top: 120%;
            left: 50%;
            width: 110px;
            margin-left: -55px;
            border-radius: 4px;
            list-style: none;
            text-align: center;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, .15);
            visibility: hidden;
            opacity: 0;
            transform: translateY(-20px) scale(.6);
            transform-origin: 50% 0%;
            transition: all ease-out .1s;

            li {
                padding: 8px 25px;
                border-top: 1px solid $light-background;
            }

            a {
                color: $secondary-text-color;
            }

            &.in {
                transform: translateY(0px) scale(1);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

main {
    width: 100%;
    margin: 0px auto;
    padding: 80px 15px;

    article {
        h2 {
            width: 100%;
            margin: 0px auto;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 36px;
            line-height: 46px;
            text-align: center;

            a {
                color: $title-color;
                border-bottom: 1px solid transparent;
                transition: all ease-out .1s;

                &:hover {
                    border-bottom: 1px solid $title-color;
                }
            }
        }

        .meta {
            margin-bottom: 40px;
            color: $secondary-text-color;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            text-align: center;

            a {
                color: $secondary-text-color;
                border-bottom: 1px solid $secondary-text-color;
            }
        }

        p {
            margin-bottom: 30px;

            a {
                color: $text-color;
                border-bottom: 1px solid $text-color;
            }

            .read {
                position: relative;
                border-bottom: none;
                color: $highlight-text-color;
                font-weight: 400;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            &.has-img {
                margin: 45px 0px;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

        ul {
            margin-bottom: 30px;
            list-style: disc inside none;
        }

        pre {
            margin-bottom: 30px;
        }
    }

    .separator {
        background: $secondary-text-color;
        position: relative;
        margin: 60px auto;
        width: 4px;
        height: 4px;
        border-radius: 50%;

        &:before, &:after {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            content: '';
        }

        &:before {
            background: $secondary-text-color;
            left: -10px;
        }

        &:after {
            background: $secondary-text-color;
            left: 10px;
        }
    }

    .pagination {
        background: $light-background;
        margin-top: 60px;
        padding: 15px;
        text-align: center;
        border-radius: 4px;

        .row {
            .left {
                text-align: left;
            }

            .right {
                text-align: right;
            }
        }

        a {
            color: $secondary-text-color;
            font-size: 16px;
        }
    }
}

footer {
    background: $dark-background;
    padding: 60px 0px 30px;
    color: $secondary-text-color;

    a {
        color: $secondary-text-color;
        border-bottom: 1px solid $secondary-text-color;

        &.read {
            border-bottom: none;
            color: $highlight-text-color;
            font-weight: 400;
        }
    }

    p {
        margin-bottom: 30px;
    }

    .social {
        list-style: none;
        margin-bottom: 30px;

        a {
            border-bottom: none;

            svg {
                width: 18px;
                height: 18px;
                vertical-align: -3px;
                margin-right: 5px;

                path {
                    fill: $secondary-text-color;
                }
            }
        }
    }
}

@media (min-width: 480px) {
    header {
        .logo {
            .name {
                display: block;
            }
        }
    }
}

@media (min-width: $content-breakpoint-width) {
    .row {
        max-width: $content-width;

        .left, .right {
            width: 50%;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }

    main {
        max-width: $content-width;

        article {
            h2 {
                width: 80%;
                font-size: 42px;
                line-height: 48px;
            }

            .meta {
                font-size: 16px;
            }

            p {
                margin-bottom: 30px;
            }
        }

        .pagination {
            a {
                font-size: 18px;
            }
        }
    }

    footer {
        .social {
            float: right;
        }
    }
}
