*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #2b3d57;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }

a {
  color: #0096ff;
  text-decoration: none; }

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  color: #00172e;
  font-weight: 600; }

img, iframe {
  vertical-align: bottom; }

strong {
  font-weight: 600; }

.row {
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px; }
  .row:before, .row:after {
    display: table;
    content: " "; }
  .row:after {
    clear: both; }

.hljs {
  padding: 0px; }

.text-center {
  text-align: center; }

header {
  min-height: 75px; }
  header .logo {
    position: relative;
    display: inline-block;
    padding: 13px 0px 13px 88px;
    text-transform: uppercase;
    text-decoration: none; }
    header .logo .name {
      display: none;
      color: #2b3d57;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400; }
    header .logo:before {
      position: absolute;
      background: #0096ff;
      top: 0px;
      left: 0px;
      padding: 15px;
      content: 'r';
      font-family: "Monoton", cursive;
      color: #fff;
      font-size: 46px;
      line-height: 44px;
      border-bottom-right-radius: 4px; }
  header .nav {
    position: relative;
    float: right;
    margin: 20px 30px 0px 0px; }
    header .nav > button {
      background: none;
      border: none;
      outline: none;
      font-size: 20px;
      line-height: 24px;
      color: #2b3d57;
      text-transform: uppercase;
      font-weight: 600; }
    header .nav svg {
      vertical-align: -9px; }
      header .nav svg rect {
        fill: #2b3d57; }
    header .nav .dropdown {
      position: absolute;
      background: #fff;
      top: 120%;
      left: 50%;
      width: 110px;
      margin-left: -55px;
      border-radius: 4px;
      list-style: none;
      text-align: center;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      visibility: hidden;
      opacity: 0;
      transform: translateY(-20px) scale(0.6);
      transform-origin: 50% 0%;
      transition: all ease-out .1s; }
      header .nav .dropdown li {
        padding: 8px 25px;
        border-top: 1px solid #f2f3f4; }
      header .nav .dropdown a {
        color: #677996; }
      header .nav .dropdown.in {
        transform: translateY(0px) scale(1);
        visibility: visible;
        opacity: 1; }

main {
  width: 100%;
  margin: 0px auto;
  padding: 80px 15px; }
  main article h2 {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center; }
    main article h2 a {
      color: #00172e;
      border-bottom: 1px solid transparent;
      transition: all ease-out .1s; }
      main article h2 a:hover {
        border-bottom: 1px solid #00172e; }
  main article .meta {
    margin-bottom: 40px;
    color: #677996;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    text-align: center; }
    main article .meta a {
      color: #677996;
      border-bottom: 1px solid #677996; }
  main article p {
    margin-bottom: 30px; }
    main article p a {
      color: #2b3d57;
      border-bottom: 1px solid #2b3d57; }
    main article p .read {
      position: relative;
      border-bottom: none;
      color: #0096ff;
      font-weight: 400; }
    main article p img {
      max-width: 100%;
      height: auto; }
    main article p.has-img {
      margin: 45px 0px; }
    main article p:last-child {
      margin-bottom: 0px; }
  main article ul {
    margin-bottom: 30px;
    list-style: disc inside none; }
  main article pre {
    margin-bottom: 30px; }
  main .separator {
    background: #677996;
    position: relative;
    margin: 60px auto;
    width: 4px;
    height: 4px;
    border-radius: 50%; }
    main .separator:before, main .separator:after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      content: ''; }
    main .separator:before {
      background: #677996;
      left: -10px; }
    main .separator:after {
      background: #677996;
      left: 10px; }
  main .pagination {
    background: #f2f3f4;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
    border-radius: 4px; }
    main .pagination .row .left {
      text-align: left; }
    main .pagination .row .right {
      text-align: right; }
    main .pagination a {
      color: #677996;
      font-size: 16px; }

footer {
  background: #00172e;
  padding: 60px 0px 30px;
  color: #677996; }
  footer a {
    color: #677996;
    border-bottom: 1px solid #677996; }
    footer a.read {
      border-bottom: none;
      color: #0096ff;
      font-weight: 400; }
  footer p {
    margin-bottom: 30px; }
  footer .social {
    list-style: none;
    margin-bottom: 30px; }
    footer .social a {
      border-bottom: none; }
      footer .social a svg {
        width: 18px;
        height: 18px;
        vertical-align: -3px;
        margin-right: 5px; }
        footer .social a svg path {
          fill: #677996; }

@media (min-width: 480px) {
  header .logo .name {
    display: block; } }
@media (min-width: 880px) {
  .row {
    max-width: 850px; }
    .row .left, .row .right {
      width: 50%; }
    .row .left {
      float: left; }
    .row .right {
      float: right; }

  main {
    max-width: 850px; }
    main article h2 {
      width: 80%;
      font-size: 42px;
      line-height: 48px; }
    main article .meta {
      font-size: 16px; }
    main article p {
      margin-bottom: 30px; }
    main .pagination a {
      font-size: 18px; }

  footer .social {
    float: right; } }
