$text-color: #2b3d57;
$secondary-text-color: #677996;
$highlight-text-color: #0096ff;

$title-color: #00172e;

$content-width: 820px;

$site-background: #ffffff;
$footer-background: #00172e;

*, 
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: $highlight-text-color;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    color: $title-color;
    font-weight: 600;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: $site-background;

    font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
    font-size: 20px;
    line-height: 32px;

    color: $text-color;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    .logo {
        position: relative;
        display: inline-block;
        padding: 13px 0px 13px 88px;
        width: 275px;
        text-transform: uppercase;
        text-decoration: none;

        .name {
            color: $secondary-text-color;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
        }

        &:before {
            position: absolute;
            background: $highlight-text-color;
            top: 0px;
            left: 0px;
            padding: 15px;
            content: 'r';
            font-family: "Monoton", cursive;
            color: #fff;
            font-size: 46px;
            line-height: 44px;
            border-bottom-right-radius: 4px;
        }
    }
}

main {
    width: $content-width;
    margin: 0px auto;
    padding: 60px 0px;

    article {
        h2 {
            width: 80%;
            margin: 0px auto;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 42px;
            line-height: 48px;
            text-align: center;

            a {
                color: $title-color;

                &:hover {
                    border-bottom: 2px solid $title-color;
                }
            }
        }

        .meta {
            margin-bottom: 40px;
            color: $secondary-text-color;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            text-align: center;

            a {
                color: $highlight-text-color;
                border-bottom: 1px solid $highlight-text-color;
            }
        }

        p {
            margin-bottom: 30px;

            a {
                color: $text-color;
                border-bottom: 1px solid $text-color;
            }

            .read {
                border-bottom: none;
                color: $highlight-text-color;
                font-weight: 600;
            }
        }
    }

    .separator {
        background: #007de2;
        position: relative;
        margin: 60px auto;
        width: 4px;
        height: 4px;
        border-radius: 50%;

        &:before, &:after {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            content: '';
        }

        &:before {
            background: #0096ff;
            left: -10px;
        }

        &:after {
            background: #0064c6;
            left: 10px;
        }
    }

    nav {
        background: #f2f3f4;
        margin-top: 60px;
        padding: 15px;
        text-align: center;

        a {
            color: $secondary-text-color;
            font-size: 18px;
        }
    }
}

footer {
    background: $footer-background;
    padding: 60px 0px 30px;
    font-size: 18px;
    line-height: 32px;
    color: $secondary-text-color;

    .row {
        width: $content-width;
        margin: 0px auto;

        .left, .right {
            width: 50%;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        &:before, &:after {
            display: table;
            content: " ";
        }

        &:after {
            clear: both;
        }
    }

    a {
        color: $secondary-text-color;
        border-bottom: 1px solid $secondary-text-color;

        &.read {
            border-bottom: none;
            color: $highlight-text-color;
            font-weight: 600;
        }
    }

    p {
        margin-bottom: 30px;
    }

    .social {
        float: right;
        list-style: none;

        a {
            border-bottom: none;
        }
    }
}

/*.button {
    background: $button-bg-color;
    display: inline-block;
    padding: 8px 30px;
    color: $button-text-color;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    text-decoration: none;

    &:hover {
        color: $button-text-color;
    }
}

header {
    position: relative;
    background: #fff;
    height: 100px;

    &:after {
        background: linear-gradient(90deg, $gradient-first-stop, $gradient-last-stop);
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 2px;
        content: '';
    }

    .logo {
        position: relative;
        margin-top: 20px;
        padding: 0px 0px 0px 60px;
        width: 270px;
        font-size: 28px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 300;

        a {
            color: $title-color;
            text-decoration: none;
        }

        &:before {
            position: absolute;
            top: 0px;
            left: 0px;
            content: 'r';
            font-family: "Monoton", cursive;
            text-transform: uppercase;
            font-size: 64px;
            line-height: 64px;
        }
    }

    .nav {
        display: inline-block;
        margin-top: 34px;
        color: $title-color;
        font-size: 22px;
        text-transform: uppercase;
        text-decoration: none;

        svg {
            vertical-align: -9px;

            rect {
                fill: $title-color;
            }
        }
    }
}

.posts {
    padding: 60px 0px;

    .post {
        .title {
            font-size: 28px;
            text-align: center;
            margin-bottom: 4px;
        }

        .caption {
            font-size: 16px;
            color: $secondary-text-color;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;

            a {
                border-bottom: 1px solid $secondary-text-color;
            }
        }

        h2 {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 10px;
        }
        
        p, ul, blockquote, pre, code {
            margin-bottom: 15px;

            a {
                display: inline-block;
                position: relative;

                &:after {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    height: 1px;
                    background: linear-gradient(90deg, $gradient-first-stop, $gradient-last-stop);
                    content: '';
                }
            }
        }

        .read-more {
            padding-top: 10px;
        }
    }

    .divider {
        background: $gradient-middle-stop;
        position: relative;
        margin: 60px auto;
        width: 4px;
        height: 4px;
        border-radius: 50%;

        &:before, &:after {
            position: absolute;
            top: 0px;
            left: -10px;
            width: 4px;
            height: 4px;
            background: $gradient-first-stop;
            border-radius: 50%;
            content: '';
        }

        &:after {
            left: auto;
            right: -10px;
            background: $gradient-last-stop;
        }
    }
}

.work {
    padding: 60px 0px;

    .project {
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        &:hover {
            .permalink {
                opacity: 1;
                visibility: visible;
            }
        }

        .permalink {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 1;

            color: #fff;
            text-transform: uppercase;

            opacity: 0;
            visibility: hidden;
            transition: all ease-out .3s;

            .metadata {
                position: absolute;
                top: 50%;
                left: 0px;
                right: 0px;
                margin-top: -32px;
                text-align: center;

                .client {
                    font-size: 26px;
                    color: #fff;
                    margin-bottom: 8px;
                }

                .tags {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;

                    li {
                        display: inline-block;
                        padding: 0px 12px;
                        margin: 0px 4px;
                        border: 2px solid #fff;
                        border-radius: 16px;
                    }
                }
            }
            
            .permalink {
                display: block;

                &:hover {
                    text-decoration: none;
                }

                .client {
                    font-size: 26px;
                    color: #fff;
                }
            }

            &:before {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: linear-gradient(90deg, $gradient-first-stop, $gradient-last-stop);
                opacity: .8;
                content: '';
                z-index: -1;
            }
        }
    }
}*/